@model OrderItemDto

<form enctype="multipart/form-data" method="post" asp-controller="OrderItems" asp-action="Save" asp-route-id="@Model.Id"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailure" data-ajax-success="OnSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" class="form-control" />
        <input asp-for="ItemId" type="hidden" class="form-control" />
        <input asp-for="OrderId" type="hidden" class="form-control" />

        <div class="form-group">
            <label asp-for="Qte" class="control-label"></label>
            <input asp-for="Qte" class="form-control" />
            <span asp-validation-for="Qte" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Total" class="control-label"></label>
            <input asp-for="Total" class="form-control" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>

    </div>

    <div class="modal-footer justify-content-between">
        <input type="submit" value="Enregistrer" class="btn btn-primary btn-block" />
    </div>

</form>

<script src="~/js/modals.js"></script>